html {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans";
  font-style: normal;
}

header .container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
header img {
  width: 200px;
}

main .smreg .title {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  display: flex;
  justify-content: center;
  color: #111112;
}
main .smreg .buttons {
  display: flex;
  gap: 35.5px;
  flex-direction: column;
  align-items: center;
}
main .smreg .buttons .facebook .fbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 578px;
  height: 64px;
  background: #ffffff;
  border: 1px solid #333333;
  border-radius: 32px;
  cursor: pointer;
}
main .smreg .buttons .facebook .fbutton .sign {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
}
main .smreg .divider {
  display: flex;
  margin-top: 48px;
  justify-content: center;
}
main .smreg .form-title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
main form .register {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
main form .register .psw-requirements {
  margin-top: -31px;
  margin-left: -55px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #adaeaf;
}
main form .register .username {
  display: flex;
  flex-direction: column;
}
main form .register .username .psw {
  display: flex;
  justify-content: space-between;
}
main form .register .username .psw .see-btn {
  color: transparent;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}
main form .register .username label {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #adaeaf;
}
main form .register .username input {
  width: 500px;
  margin-top: 7px;
  height: 56px;
  border: 1px solid #adaeaf;
  border-radius: 22px;
}
main form .register .username ::-moz-placeholder {
  padding-left: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #adaeaf;
}
main form .register .username ::placeholder {
  padding-left: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #adaeaf;
}
main form .register .personal-info {
  margin-left: -200px;
}
main form .register .personal-info .gender {
  color: #adaeaf;
  margin-bottom: 10px;
}
main form .register .personal-info .radio {
  display: flex;
  color: #666666;
  gap: 10px;
}
main form .register .date {
  margin-left: -300px;
}
main form .register .date .paragraph {
  color: #adaeaf;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
main form .register .date .date-choose input {
  border-color: #adaeaf;
  border-radius: 30px;
  height: 30px;
}
main form .register .checkbox {
  display: flex;
}
main form .register .checkbox input {
  margin-top: -25px;
}
main form .register .checkbox label {
  margin-left: 11px;
}
main form .register .checkbox label p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 459px;
  height: 48px;
}
main form .register .policy p {
  color: #adaeaf;
}
main form .register .policy p a {
  color: #111112;
}
main form .register .sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main form .register .sign-up .login-btn button {
  width: 580px;
  height: 64px;
  border-radius: 32px;
  background-color: #111112;
  color: whitesmoke;
  cursor: pointer;
}
main form .register .sign-up .login-btn button p {
  font-size: 22px;
}
@media (min-width: 320px) and (max-width: 426px) {
  main form .register .sign-up .login-btn button {
    width: 300px;
  }
}
main form .register .sign-up .login {
  color: #adaeaf;
}
main form .register .sign-up .login a {
  color: #111112;
}

@media (min-width: 320px) and (max-width: 426px) {
  main .smreg .buttons .facebook .fbutton {
    width: auto;
  }
  main form .register .username input {
    width: 300px;
  }
  main form .register .psw-requirements {
    margin-left: 0px;
  }
  main form .register .personal-info {
    margin-left: -1px;
    font-size: 17px;
  }
  main form .register .date {
    margin-left: 0px;
  }
  main form .register .checkbox label p {
    width: auto;
  }
  main .smreg .divider img {
    width: 100%;
  }
  main .smreg .title {
    font-size: 25px;
    line-height: 32px;
  }
}/*# sourceMappingURL=register.css.map */