html {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans";
  font-style: normal;
}

header .header {
  width: 100%;
  display: flex;
  font-weight: 500;
  margin-top: 61px;
  font-family: "Open Sans";
}
header .header .logo {
  margin-left: 240px;
}
header .header .navigation {
  display: flex;
  gap: 56px;
  margin-left: 197px;
}
header .header a {
  text-decoration: none;
  color: #111112;
  margin-top: 10px;
}
header .header .shop .bag {
  margin-left: 227.29px;
  display: flex;
}
header .header .shop .bag .bag_img {
  margin-bottom: 0.14px;
}
header .header .shop .bag .button {
  margin-left: 33.36px;
}
header .header .shop .bag .button .btn {
  font-family: "Open Sans";
  padding: 0 25px;
  border: 2px solid #111112;
  border-radius: 50px;
  height: 46px;
  line-height: 46px;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: white;
  background-color: #111112;
  cursor: pointer;
}
@media (min-width: 320px) and (max-width: 426px) {
  header .header .shop .bag {
    display: flex;
    margin-left: 20px;
  }
  header .header .shop .bag .button {
    margin-left: 20px;
  }
  header .header .shop .bag .button .btn {
    padding: 0 20px;
  }
  header .header .logo {
    margin-left: 10px;
  }
  header .header .navigation {
    display: none;
  }
}

main {
  margin-top: 50px;
}
main .smreg .title {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  display: flex;
  justify-content: center;
  color: #111112;
}
main .smreg .buttons {
  display: flex;
  gap: 35.5px;
  flex-direction: column;
  align-items: center;
}
main .smreg .buttons .facebook .fbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 578px;
  height: 64px;
  background: #ffffff;
  border: 1px solid #333333;
  border-radius: 32px;
  cursor: pointer;
}
main .smreg .buttons .facebook .fbutton .sign {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
}
main .smreg .divider {
  display: flex;
  margin-top: 48px;
  justify-content: center;
}
main .smreg .form-title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
main form .register {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
main form .register .psw-requirements {
  margin-top: -31px;
  margin-left: -55px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #adaeaf;
}
main form .register .username {
  display: flex;
  flex-direction: column;
}
main form .register .username .psw {
  display: flex;
  justify-content: space-between;
}
main form .register .username .psw .see-btn {
  color: transparent;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}
main form .register .username label {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #adaeaf;
}
main form .register .username input {
  width: 500px;
  margin-top: 7px;
  height: 56px;
  border: 1px solid #adaeaf;
  border-radius: 22px;
}
main form .register .username ::-moz-placeholder {
  padding-left: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #adaeaf;
}
main form .register .username ::placeholder {
  padding-left: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #adaeaf;
}
main form .register .personal-info {
  margin-left: -200px;
}
main form .register .personal-info .gender {
  color: #adaeaf;
  margin-bottom: 10px;
}
main form .register .personal-info .radio {
  display: flex;
  color: #666666;
  gap: 10px;
}
main form .register .date {
  margin-left: -300px;
}
main form .register .date .paragraph {
  color: #adaeaf;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
main form .register .date .date-choose input {
  border-color: #adaeaf;
  border-radius: 30px;
  height: 30px;
}
main form .register .checkbox {
  display: flex;
}
main form .register .checkbox input {
  margin-top: -25px;
}
main form .register .checkbox label {
  margin-left: 11px;
}
main form .register .checkbox label p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 459px;
  height: 48px;
}
main form .register .policy p {
  color: #adaeaf;
}
main form .register .policy p a {
  color: #111112;
}
main form .register .sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main form .register .sign-up .login-btn button {
  width: 580px;
  height: 64px;
  border-radius: 32px;
  background-color: #111112;
  color: whitesmoke;
  cursor: pointer;
}
main form .register .sign-up .login-btn button p {
  font-size: 22px;
}
@media (min-width: 320px) and (max-width: 426px) {
  main form .register .sign-up .login-btn button {
    width: 300px;
  }
}
main form .register .sign-up .login {
  color: #adaeaf;
}
main form .register .sign-up .login a {
  color: #111112;
}
main .footer {
  width: 100%;
  height: 100%;
  margin-top: 251px;
  background-color: #f5f5f5;
}
main .footer .foot-nav {
  display: flex;
  align-items: center;
}
main .footer .foot-nav .logo-foot {
  margin-left: 240px;
  margin-top: 65px;
}
main .footer .foot-nav .navigation {
  display: flex;
  margin-top: 65px;
  margin-left: 184px;
  gap: 56px;
}
main .footer .foot-nav .navigation a {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-decoration: none;
  color: #111112;
}
main .footer .foot-nav .contacts {
  margin-left: 185px;
  margin-top: 80px;
}
main .footer .foot-nav .contacts .foot-p {
  display: inline;
  width: 192px;
  height: 19px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #adaeaf;
}
main .footer .foot-nav .contacts .foot-p .number {
  display: inline;
  margin-left: 14px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #111112;
}
main .footer .icons {
  display: flex;
  gap: 24px;
  margin-top: 42.5px;
  margin-left: 913px;
}
main .footer .pc {
  display: flex;
  gap: 31px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #adaeaf;
  margin-top: 72.5px;
  margin-left: 808px;
}
main .footer .pc a {
  text-decoration: none;
  color: #adaeaf;
}
@media (min-width: 320px) and (max-width: 426px) {
  main .footer {
    width: 100%;
    height: 100%;
    margin-top: 36px;
  }
  main .footer .foot-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  main .footer .foot-nav .navigation {
    margin-left: 10px;
    margin-top: 65px;
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
  main .footer .foot-nav .logo-foot {
    margin-left: 10px;
    margin-top: 10px;
  }
  main .footer .foot-nav .contacts {
    margin-left: 10px;
    margin-top: 40px;
  }
  main .footer .icons {
    margin-left: 10px;
  }
  main .footer .pc {
    margin-left: 10px;
  }
}

@media (min-width: 320px) and (max-width: 426px) {
  main .smreg .buttons .facebook .fbutton {
    width: auto;
  }
  main form .register .username input {
    width: 300px;
  }
  main form .register .psw-requirements {
    margin-left: 0px;
  }
  main form .register .personal-info {
    margin-left: -1px;
    font-size: 17px;
  }
  main form .register .date {
    margin-left: 0px;
  }
  main form .register .checkbox label p {
    width: auto;
  }
  main .smreg .divider img {
    width: 100%;
  }
  main .smreg .title {
    font-size: 25px;
    line-height: 32px;
  }
}/*# sourceMappingURL=register.css.map */