@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Light.woff") format("woff");
}

body {
  font-family: "Open Sans";
  font-style: normal;
  width: auto;
  height: auto;
  margin: 0;
}

.container {
  .header {
    width: 100%;
    display: flex;
    font-weight: 500;
    margin-top: 61px;
    font-family: "Open Sans";

    .logo {
      margin-left: 240px;
    }

    .navigation {
      display: flex;
      gap: 56px;
      margin-left: 197px;
    }

    a {
      text-decoration: none;
      color: #111112;
      margin-top: 10px;
    }

    .shop {
      .bag {
        margin-left: 227.29px;
        display: flex;

        .bag_img {
          margin-bottom: 0.14px;
        }

        .button {
          margin-left: 33.36px;

          .btn {
            font-family: "Open Sans";
            padding: 0 25px;
            border: 2px solid #111112;
            border-radius: 50px;
            height: 46px;
            line-height: 46px;
            font-size: 14px;
            font-weight: 600;
            text-decoration: none;
            color: white;
            background-color: #111112;
            cursor: pointer;
          }
        }
      }
    }
  }

  .dishes {
    .right {
      max-width: 100%;
      float: right;
      margin-top: 171px;
    }

    .left {
      max-width: 100%;
      float: left;
      margin-top: 193px;
    }
  }

  .main {
    .center {
      margin-top: 324.5px;
      .test {
        margin-left: 583px;
      }

      .p1 {
        color: #adaeaf;
        margin-top: 72px;
        margin-left: 660px;
        margin-right: 661px;
      }

      .button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 25px;

        .btn {
          margin-left: 120px;
          width: 120px;
          height: 43px;
          border: 2px solid #111112;
          border-radius: 50px;

          font-weight: 600;
          text-decoration: none;
          color: white;
          background-color: #111112;
          cursor: pointer;
        }

        .play {
          margin-left: 27px;
          display: flex;
          align-items: center;
          .watch_btn {
            background-color: transparent;
            border: transparent;
            cursor: pointer;
          }
          #watch {
            font-family: "Open sans";
            font-weight: 600;
            font-style: normal;
            color: #111112;
            margin-left: -7px;
          }
        }
      }

      .est {
        margin-left: 63px;
      }
    }
  }

  .reviews {
    margin-top: 233.25px;
    margin-left: 239px;
    display: flex;

    .title {
      display: flex;
      flex-direction: column;
      width: 559px;
      height: 124px;
    }
    .arrow {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 19px;
    }

    .arrowimg {
      width: 80px;
      height: 43px;
    }

    .right-up {
      display: flex;
      gap: 42px;
      margin-left: 200px;
      .cloud {
        width: 350px;
        height: 130px;
        display: grid;
        background-color: #f5f5f5;
        color: #111112;
        border-radius: 26px;

        .name {
          margin: 16px 16px;
        }

        .review {
          color: #adaeaf;
        }
      }
    }
  }

  .left-down {
    .because {
      color: #adaeaf;
      margin-left: 240px;
    }

    .quote {
      display: flex;
      margin-left: 240px;

      .quote1 {
        margin-top: 54.94px;
      }
      .quote2 {
        margin-top: 28px;
        margin-left: 30px;
        font-family: "Open Sans";
      }
    }

    .right-down {
      margin-left: 190px;
      display: flex;
      gap: 42px;
    }

    .cloud {
      width: 350px;
      height: 130px;
      display: grid;
      background-color: #f5f5f5;
      color: #111112;
      border-radius: 26px;

      .name {
        margin: 16px 16px;
      }

      .review {
        color: #adaeaf;
      }
    }
  }
  .h2 {
    font-weight: 700;
    margin-left: 240px;
    margin-top: 229px;
  }

  .diets {
    .arrows {
      display: flex;
      gap: 28px;
      margin-left: 1582px;

      .right {
        color: transparent;
        background-color: transparent;
        border: transparent;
        cursor: pointer;
      }

      .left {
        color: transparent;
        background-color: transparent;
        border: transparent;
        cursor: pointer;
      }
    }
  }

  .menu {
    display: flex;
    gap: 19px;
    margin-top: 38px;
    .slim {
      margin-left: 240px;
      width: 346px;
      height: 434px;

      .calorie {
        display: flex;

        .calorie-button {
          color: transparent;
          background-color: transparent;
          border: transparent;
          cursor: pointer;
        }
      }
      .about-food {
        color: #adaeaf;
        margin-top: 10px;
      }
    }

    .price {
      display: flex;
      gap: 5px;
      width: 128px;
      height: 38px;
      .from {
        color: #adaeaf;
      }

      .para {
        font-size: 29px;
        font-weight: 700;
        color: #111112;
        display: flex;
        align-items: flex-end;
        margin-bottom: -5px;
      }
      #pln {
        color: #111112;
        font-weight: 600;
      }
      #day {
        color: #adaeaf;
        font-weight: 400;
      }

      #choose-btn {
        margin-left: 100px;
        margin-top: 25px;
        display: flex;
        align-items: center;

        .choose {
          color: transparent;
          background-color: transparent;
          border: transparent;
          cursor: pointer;
        }
      }
    }

    .fit {
      width: 350px;
      height: 451px;
      .calorie-button {
        color: transparent;
        background-color: transparent;
        border: transparent;
        cursor: pointer;
      }
    }
    .about-food {
      color: #adaeaf;
      margin-top: 10px;
    }

    .price2 {
      display: flex;
      gap: 5px;
      width: 128px;
      height: 38px;
      margin-top: 25px;

      .from {
        color: #adaeaf;
      }

      .para {
        font-size: 29px;
        font-weight: 700;
        color: #111112;
        display: flex;
        align-items: flex-end;
        margin-bottom: -5px;
      }

      .pln {
        color: #111112;
        font-weight: 600;
      }
      .day {
        color: #adaeaf;
        font-weight: 400;
      }
      .choose-btn {
        margin-left: 100px;
        margin-top: 25px;
        display: flex;
        align-items: center;

        .choose {
          color: transparent;
          background-color: transparent;
          border: transparent;
          cursor: pointer;
        }
      }
    }

    .vegan {
      width: 345px;
      height: 516px;

      .calorie {
        .calorie-button {
          color: transparent;
          background-color: transparent;
          border: transparent;
          cursor: pointer;
        }
      }
      .about-food {
        color: #adaeaf;
        margin-top: 10px;
      }
      .price3 {
        display: flex;
        gap: 5px;
        width: 128px;
        height: 38px;
        margin-top: 25px;
      }
      .from {
        color: #adaeaf;
      }

      .para {
        font-size: 29px;
        font-weight: 700;
        color: #111112;
        display: flex;
        align-items: flex-end;
        margin-bottom: -5px;
      }

      .pln {
        color: #111112;
        font-weight: 600;
      }
      .day {
        color: #adaeaf;
        font-weight: 400;
      }
      .choose-btn {
        margin-left: 100px;
        margin-top: 25px;
        display: flex;
        align-items: center;

        .choose {
          color: transparent;
          background-color: transparent;
          border: transparent;
          cursor: pointer;
        }
      }
    }

    .keto {
      width: 346px;
      height: 432px;

      .calorie {
        .calorie-button {
          color: transparent;
          background-color: transparent;
          border: transparent;
          cursor: pointer;
        }
      }
      .price4 {
        display: flex;
        gap: 5px;
        width: 128px;
        height: 38px;
        margin-top: 8px;
      }
      .from {
        color: #adaeaf;
      }

      .para {
        font-size: 29px;
        font-weight: 700;
        color: #111112;
        display: flex;
        align-items: flex-end;
        margin-bottom: -5px;
      }

      .pln {
        color: #111112;
        font-weight: 600;
      }
      .day {
        color: #adaeaf;
        font-weight: 400;
      }
      .choose-btn {
        margin-left: 100px;
        margin-top: 25px;
        display: flex;
        align-items: center;

        .choose {
          color: transparent;
          background-color: transparent;
          border: transparent;
          cursor: pointer;
        }
      }
    }
  }
  .delivery {
    width: 1440px;
    height: 416px;
    margin-left: 239px;
    margin-right: 241px;
    margin-top: 229px;

    .left-side {
      .where {
        display: flex;
        #where {
          font-weight: 700;
          font-size: 38px;
          line-height: 62px;
        }
      }
      #left-p {
        width: 434px;
        height: 66px;
      }
      .city-search {
        display: flex;
        gap: 20px;
        .city {
          border: 1px solid #adaeaf;
          border-radius: 22px;
          width: 348px;
          height: 58px;
          margin-top: 94px;
        }
        input::placeholder {
          color: #adaeaf;
          padding-left: 26px;
        }

        .nip {
          .nip {
            border: 1px solid #adaeaf;
            border-radius: 22px;
            width: 223px;
            height: 58px;
            margin-top: 94px;
          }
          input::placeholder {
            color: #adaeaf;
            padding-left: 26px;
          }
        }
      }

      .buttons {
        display: flex;
        align-items: center;
        margin-top: 38px;
        gap: 26px;
        .check {
          color: transparent;
          background-color: transparent;
          border: transparent;
          cursor: pointer;
        }

        .locate {
          color: transparent;
          background-color: transparent;
          border: transparent;
          cursor: pointer;
        }
      }
    }
    .right-side {
      float: right;
    }
  }

  .trial {
    margin: 240px 240px;

    .cloud {
      position: relative;
      width: 1440px;
      height: 381px;
      border-radius: 100px;
      background-color: #f5f5f5;

      .left-img {
        position: absolute;
        top: 0;
      }

      .center {
        position: absolute;
        top: 94px;
        left: 539px;
        right: 518px;

        #try {
          margin-top: 14px;
          margin-left: 31px;
        }

        .button {
          position: absolute;
          margin-top: 52px;
          margin-left: 80px;
          .btn {
            width: 138px;
            height: 43px;
            color: #fdfbfa;
            background-color: #111112;
            border: 1px solid #111112;
            border-radius: 18px;
            cursor: pointer;
          }
        }
      }
    }
  }

  .order {
    margin-left: 199px;
    margin-right: 240px;
    width: 1481px;
    height: 660.65px;

    #order-fast {
      display: flex;
      margin-left: 45px;
      font-weight: 700;
      font-size: 38px;
      line-height: 62px;

      .heart {
        display: flex;
        align-items: center;

        #heart {
          margin-left: 30px;
          width: 97px;
          height: 43px;
          margin-top: 20px;
        }
      }
      .right-text {
        margin-left: 171px;
        margin-top: 48px;
        width: 434px;
        height: 44px;
        color: #111112;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
      }
    }

    .bottom {
      display: flex;
      .left-img {
        margin-top: 22.26px;
        margin-left: 27px;
      }
      .right-side {
        margin-left: 200px;

        .one {
          display: flex;

          .phone {
            margin-left: 45.31px;
          }

          .h4 {
            margin-left: 17.31px;
            margin-top: -20px;

            .p {
              margin-top: -15px;
              width: 403px;
              height: 44px;
              color: #adaeaf;
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 22px;
            }
          }
        }

        .two {
          display: flex;
          margin-top: 160px;

          .hat {
            margin-left: 45.31px;
          }

          .h4 {
            margin-left: 17.31px;
            margin-top: -18px;

            .p {
              margin-top: -15px;
              width: 398px;
              height: 44px;
              color: #adaeaf;
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 22px;
            }
          }
        }

        .three {
          display: flex;
          margin-top: 162px;

          .car {
            margin-left: 45.31px;
          }

          .h4 {
            margin-left: 17.31px;
            margin-top: -18px;
            width: 393px;
            height: 22px;

            .p {
              margin-top: -15px;
              width: 398px;
              height: 22px;
              color: #adaeaf;
              font-style: normal;
              font-weight: 400;
              font-size: 15px;
              line-height: 22px;
            }
          }
        }
      }
    }
  }

  .box-diets {
    width: 1463px;
    height: 349px;
    margin-left: 240px;
    margin-top: 229px;

    .head {
      font-style: normal;
      font-weight: 700;
      font-size: 38px;
      line-height: 62px;
    }

    .box {
      display: flex;
      width: 275px;
      height: 223px;
      .fresh {
        margin-top: 65px;
        margin-left: 71px;

        .ingr {
          font-weight: 700;
          font-size: 16px;
          line-height: 22px;
        }
        .p {
          width: 300px;
          height: 38px;
          font-weight: 400;
          font-size: 14px;
          line-height: 19px;
          color: #adaeaf;
          margin-top: -12px;
          margin-left: -63px;
        }
      }

      .taste {
        width: 275px;
        height: 223px;
        margin-top: 65px;
        margin-left: 61px;

        .ingr {
          font-weight: 700;
          font-size: 16px;
          line-height: 22px;
          margin-left: 47.5px;
        }

        .p {
          margin-top: -12px;
          margin-left: -60px;
          width: 275px;
          height: 38px;
          font-weight: 400;
          font-size: 14px;
          line-height: 19px;
          color: #adaeaf;
        }
      }

      .diversity {
        margin-top: 65px;
        margin-left: 122px;

        .ingr {
          font-weight: 700;
          font-size: 16px;
          line-height: 22px;
          margin-left: 39.5px;
        }

        .p {
          margin-top: -12px;
          margin-left: -63px;
          width: 275px;
          height: 38px;
          font-weight: 400;
          font-size: 14px;
          line-height: 19px;
          color: #adaeaf;
        }
      }

      .match {
        margin-top: 65px;
        margin-left: 61px;

        .ingr {
          font-weight: 700;
          font-size: 16px;
          line-height: 22px;
          margin-left: 39.5px;
        }

        .p {
          margin-top: -12px;
          margin-left: -63px;
          width: 275px;
          height: 38px;
          font-weight: 400;
          font-size: 14px;
          line-height: 19px;
          color: #adaeaf;
        }
      }
    }
  }

  .main-blog {
    width: 1448px;
    height: 588px;
    margin-top: 251px;
    margin-left: 232px;

    #blg {
      font-weight: 700;
      font-size: 38px;
      line-height: 62px;
    }

    .blog {
      display: flex;
      .left-img {
        .text-of-img {
          display: flex;
          .h4 {
            width: 487px;
            height: 22px;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            color: #111112;
          }

          .clock {
            margin-left: 143px;
            margin-top: 39px;
          }
        }

        #esther {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 19px;
          color: #adaeaf;
        }
        #mae {
          margin-top: 29px;
          width: 582px;
          height: 57px;
          font-weight: 400;
          font-size: 14px;
          line-height: 19px;
          color: #adaeaf;
        }
      }

      .right-side {
        margin-top: 52px;
        margin-left: 20px;

        .right-top {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          width: 223px;
          height: 155px;

          .h4 {
            margin-left: 243px;
            position: absolute;
          }

          #efficitur {
            margin-top: 64px;
            margin-left: -480px;
            width: 465px;
            height: 100px;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            color: #adaeaf;
          }
          .bottom {
            margin-left: 20px;
            margin-top: 120px;
            display: flex;
            align-items: center;
            #bell {
              color: #adaeaf;
              width: 75px;
              height: 19px;
              font-weight: 400;
              font-size: 14px;
              line-height: 19px;
            }
            .clock {
              margin-left: 323px;
            }
          }
        }

        .right-middle {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          width: 223px;
          height: 155px;
          margin-top: 20px;
          .h4 {
            margin-left: 243px;
            margin-top: 11px;
            position: absolute;
          }
          .bottom {
            margin-left: 20px;
            margin-top: 120px;
            display: flex;
            align-items: center;
            #howard {
              color: #adaeaf;
              width: 98px;
              height: 19px;
              font-weight: 400;
              font-size: 14px;
              line-height: 19px;
            }
            .clock {
              margin-left: 323px;
            }
          }
        }

        .right-bottom {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          width: 223px;
          height: 155px;
          margin-top: 20px;

          .h4 {
            margin-left: 243px;
            position: absolute;
          }
          #efficitur {
            margin-top: 64px;
            margin-left: -509px;
            width: 465px;
            height: 100px;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            color: #adaeaf;
          }
          .bottom {
            margin-left: 20px;
            margin-top: 120px;
            display: flex;
            align-items: center;
            #henry {
              color: #adaeaf;
              width: 104px;
              height: 19px;
              font-weight: 400;
              font-size: 14px;
              line-height: 19px;
            }
            .clock {
              margin-left: 323px;
            }
          }
        }
      }
    }
  }

  .faq {
    width: 1440px;
    height: 570px;
    margin-top: 264px;
    margin-left: 240px;
    margin-right: 240px;

    .q1 {
      display: flex;
      align-items: center;
      justify-content: space-between;

      #q1 {
        font-weight: 700;
        font-size: 28px;
        line-height: 38px;
      }
    }
  }

  .footer {
    width: auto;
    height: auto;
    margin-top: 251px;
    background-color: #f5f5f5;

    .foot-nav {
      display: flex;
      align-items: center;

      .logo-foot {
        margin-left: 240px;
        margin-top: 65px;
      }
      .navigation {
        display: flex;
        margin-top: 65px;
        margin-left: 184px;
        gap: 56px;

        a {
          font-weight: 400;
          font-size: 14px;
          line-height: 19px;
          text-decoration: none;
          color: #111112;
        }
      }

      .contacts {
        margin-left: 185px;
        margin-top: 80px;

        .foot-p {
          display: inline;
          width: 192px;
          height: 19px;
          font-weight: 400;
          font-size: 14px;
          line-height: 19px;
          color: #adaeaf;

          .number {
            display: inline;
            margin-left: 14px;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            color: #111112;
          }
        }
      }
    }

    .icons {
      display: flex;
      gap: 24px;
      margin-top: 42.5px;
      margin-left: 913px;
    }

    .pc {
      display: flex;
      gap: 31px;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: #adaeaf;
      margin-top: 72.5px;
      margin-left: 808px;

      a {
        text-decoration: none;
        color: #adaeaf;
      }
    }
  }
}
@media screen and (max-width: 426px) {
  html{
    width: 100%;
    height: 100%;
  }
  .container {
    .header {
      .shop {
        .bag {
          display: flex;
          margin-left: 20px;

          .button {
            margin-left: 20px;

            .btn {
              padding: 0 20px;
            }
          }
        }
      }
      .logo {
        margin-left: 10px;
      }
      .navigation {
        display: none;
      }
    }
    .main {
      .center {
        margin-top: 50px;
        .button {
          .btn {
            margin-left: 1px;
            width: 100px;
            height: 50px;
          }
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }
        .est {
          margin-left: 1px;
        }
        .p1 {
          width: 200px;
          margin-top: 30px;
          margin-left: 50px;
          margin-right: 1px;
        }
        .test {
          margin-left: 1px;
          img {
            width: 300px;
          }
        }
      }
    }
  }
  .container {
    .dishes {
      .left {
        display: none;
      }
      .right {
        display: none;
      }
    }
  }

  .container {
    .reviews {
      display: inline;
      margin-top: 20px;
      margin-left: 10px;

      .title {
        width: auto;
      }

      .right-up {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        gap: 42px;

        .cloud {
          width: auto;
          height: auto;
        }
      }
      .title {
        width: auto;
      }

      .arrowimg {
        display: none;
      }
    }
    .left-down {
      .because {
        display: none;
      }
      .cloud {
        width: auto;
        height: auto;
      }
      .right-down {
        margin-left: 1px;
        margin-left: -220px;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
      }
      .quote {
        .quote1 {
          display: none;
        }
        .quote2 {
          display: none;
        }
      }
    }
    .h2 {
      margin-left: 10px;
      margin-top: 30px;
    }
    .diets {
      padding: 10px;
      .arrows {
        display: none;
      }
    }
    .menu {
      display: flex;
      gap: 50px;
      flex-direction: column;

      .slim {
        width: auto;
        height: auto;
        margin-left: auto;

        #slim {
          width: 250px;
        }
        .price {
          width: 128px;

          #choose-btn {
            margin-left: 30px;
          }
        }
      }
      .fit {
        width: auto;
        height: auto;
        margin-left: auto;

        #fit {
          width: 250px;
        }
        .price2 {
          width: 128px;

          .choose-btn {
            margin-left: 30px;
          }
        }
      }
      .vegan {
        width: auto;
        height: auto;
        margin-left: auto;

        #vegan {
          width: 250px;
        }
        .price3 {
          width: 128px;

          .choose-btn {
            margin-left: 30px;
          }
        }
      }
      .keto {
        width: auto;
        height: auto;
        margin-left: auto;

        #keto {
          width: 250px;
        }
        .price4 {
          width: 128px;

          .choose-btn {
            margin-left: 30px;
          }
        }
      }
    }
    .delivery {
      margin-left: 1px;
      margin-top: 100px;

      .left-side {
        padding: 10px;
        .right-side {
          display: none;
        }
        .city-search {
          flex-direction: column;

          .nip {
            form {
              input.nip {
                margin-top: 1px;
              }
            }
          }

          form {
            input.city {
              width: auto;
            }
          }
        }
        #left-p {
          width: 300px;
        }
      }
    }
    .trial {
      margin: 0px 0px;
      margin-top: 50px;
      margin-left: 1px;
      padding: 10px;
      .cloud {
        width: auto;
        background-color: transparent;
        .center {
          position: absolute;
          right: 0;
          left: 0;

          .button {
            margin-top: 40px;
            margin-left: 1px;
          }

          #order {
            width: 200px;
          }
          #try {
            width: 300px;
            margin-left: 1px;
          }
        }
        .right-img {
          display: none;
        }
        .left-img {
          display: none;
        }
      }
    }
    .order {
      width: auto;
      height: auto;
      margin-left: 10px;
      margin-right: 10px;

      .bottom {
        display: none;
        .left-img {
          display: none;
        }
      }

      #order-fast {
        margin-left: 1px;
        font-weight: bold;
        font-size: medium;
        line-height: normal;
        flex-direction: column;

        .right-text {
          margin-left: 0px;
          margin-top: 0px;
          width: auto;
        }

        h2 {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          .heart {
            margin-top: -35px;
            margin-left: -57px;

            #heart {
              display: none;
            }
          }
        }
      }
    }
    .box-diets {
      width: auto;
      height: auto;
      margin-top: 229px;
      margin-left: 10px;

      .box {
        display: flex;
        width: 275px;
        height: auto;
        flex-direction: column;

        .diversity {
          margin-left: 66px;
        }
      }

      .head {
        line-height: normal;

        font-size: medium;
        width: auto;
      }
    }
    .main-blog {
      width: auto;
      height: auto;
      margin-top: 70px;
      margin-left: 10px;
      .blog {
        display: flex;
        flex-direction: column;

        .left-img {
          .text-of-img {
            display: block;
            .clock {
              margin-left: 0px;
              margin-top: 0px;
            }

            .h4 {
              width: auto;
              height: auto;

              #mae {
                width: auto;
                height: auto;
              }
            }
          }
        }
        .right-side {
          margin-top: 0px;

          .right-top {
            margin-top: 50px;
            display: flex;
            width: auto;
            height: auto;
            flex-wrap: wrap;
            justify-content: center;

            #efficitur {
              margin-left: 0px;
              margin-top: 0px;
              width: auto;
              height: 100px;
            }

            .bottom {
              margin-left: 0px;
              margin-top: 70px;
              display: flex;
              margin-left: -10px;
              align-items: center;
              gap: 10px;
              .clock {
                margin-left: 0px;
              }
              #bell {
                width: 75px;
                height: 19px;
              }
            }

            .h4 {
              margin-top: 30px;
              margin-left: 0px;
            }
          }
          .right-middle {
            margin-top: 50px;
            display: flex;
            width: auto;
            height: auto;
            flex-wrap: wrap;
            justify-content: center;

            .h4 {
              position: static;
              img {
                width: 100%;
              }
            }

            .bottom {
              margin-left: 0px;
              margin-top: 70px;
              display: flex;

              align-items: center;
              gap: 10px;
              .clock {
                margin-left: 0px;
              }
              #howard {
                width: auto;
                height: 19px;
              }
            }

            .h4 {
              margin-top: 30px;
              margin-left: 0px;

              img {
                width: 100%;
              }
            }
          }
          .right-bottom {
            margin-top: 50px;
            display: flex;
            width: auto;
            height: auto;
            flex-wrap: wrap;
            justify-content: center;

            #efficitur {
              margin-left: 0px;
              margin-top: 0px;
              width: auto;
              height: 100px;
            }

            .bottom {
              margin-left: 0px;
              margin-top: 70px;
              display: flex;
              margin-left: -10px;
              align-items: center;
              gap: 10px;
              .clock {
                margin-left: 0px;
              }
              #henry {
                width: auto;
                height: 19px;
              }
            }

            .h4 {
              margin-top: 30px;
              margin-left: 0px;
            }
          }
        }
      }
    }
    .faq {
      width: auto;
      height: auto;
      margin-top: 100px;
      margin-left: 1px;
      margin-right: 1px;

      img {
        width: 100%;
      }
      .q1 {
        #q1 {
          font-size: medium;
          line-height: normal;
        }
      }
    }
    .footer {
      width: 100%;
      height: 100%;

      .foot-nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .navigation {
          margin-left: 10px;
          margin-top: 65px;
          display: flex;
          gap: 10px;
          flex-direction: column;
        }

        .logo-foot {
          margin-left: 10px;
          margin-top: 10px;
        }
        .contacts {
          margin-left: 10px;
          margin-top: 40px;
        }
      }
      .icons{
        margin-left: 10px;
      }
      .pc{
        margin-left: 10px;
      }
    }
  }
}
